{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}

<div class="row-fluid">
  <div class="span12">
    <div class="profile-box clearfix">
      <h2 class="short_headline"><span>{% trans "Change password" %}</span></h2>
        <form action="" method="post" id="password_change_form" class="form-horizontal">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

            <fieldset>
              {% for field in form.visible_fields %}
                  <div class="control-group{% if field.errors %} error{% endif %}">
                      <label class="control-label" for="">{{ field.label }}</label>
                      <div class="controls">
                          {{ field }}
                          {% if field.help_text %}<span class="help-inline">{{ field.help_text }}</span>{% endif %}
                          {% if field.errors %}<label class="error">{{ field.errors|join:", " }}</label>{% endif %}
                      </div>
                  </div>
              {% endfor %}
              <div class="form-actions">
                  <input class="btn btn-primary btn-large" type="submit" value="{% trans "Change password" %}">
              </div>
          </fieldset>
        </form>
      </div>
    </div>
</div>
{% endblock %}
