{% extends "base.html" %}
{% load i18n flatpages %}


{% block content %}

<div class="hero-unit">
  <h1>{% trans "Contact" %}</h1>
</div>

<div class="row-fluid">
    <p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio sunt dolore placeat molestiae accusantium accusamus asperiores? Cupiditate beatae natus unde fugit eius eum ipsa dignissimos cum doloremque iste aliquam rem.</p>
    <hr>
</div>

<div class="row-fluid reverse-order contact-page">
    <div class="span7">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
              <fieldset>
                {% for field in form.visible_fields %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        <label for="">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}<span class="help-inline">{{ field.help_text }}</span>{% endif %}
                        {% if field.errors %}<span class="help-inline">ERROR: {{ field.errors|join:", " }}</span>{% endif %}
                    </div>
                {% endfor %}
                <div class="control-group">
                    <input class="btn btn-primary btn-large" type="submit" value="{% trans "Send" %}">
                </div>
            </fieldset>
        </form>
    </div>

    <div class="span5">
        {% get_flatpages as flatpages %}
        <ul class="navigation">
            {% for page in flatpages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            <li><a href="/contact/">{% trans "Contact" %}</a></li>
        </ul>
        <h3 class="short_headline margin-top"><span>{% trans "Follow us" %}</span></h3>
        <ul class="social">
            {% comment %}<li><a class="socicon facebook" href="#" data-original-title="Facebook"></a></li>{% endcomment %}
            <li><a class="socicon twitterbird" href="http://twitter.com/gustosity" data-original-title="Twitter"></a></li>
        </ul>
    </div>

</div>
{% endblock %}

