{% extends "base.html" %}
{% load url from future %}

{% block content %}

<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h1>Share cooking recipes <small>without the mess</small></h1>

      <blockquote>
      <p>Latin: gusto -are [to taste , take a little of; to partake of, enjoy].</p>
      </blockquote>

      <p>Gustosity is the best way to share cooking recipes online. Simply create you recipe or fork from an existing one, and we'll turn them into a beautiful online experience. View them on Gustosity.com, or share them on any website with an embed code.</p>

      <p><a class="btn btn-primary btn-large" href="{% url 'registration_register' %}">Go Ahead, Sign Up to Get Started »</a></p>
    </div>
  </div>
</div>

<div class="page-header">
    <h2>Featured recipes</h2>
</div>

{% include "_browseby.html" %}

{% endblock content %}