{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<div class="row-fluid">

  <div class="span2">
    {% include "userena/_header_userena.html" %}
  </div>

  <div class="span10">
    <div class="profile-box clearfix">
      <h1>{% trans "Change email address" %}</h1>
        <form action="" method="post" class="form-horizontal">
          {% csrf_token %}
            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

            <fieldset>
              {% for field in form.visible_fields %}
                  <div class="control-group{% if field.errors %} error{% endif %}">
                      <label class="control-label" for="">{{ field.label }}</label>
                      <div class="controls">
                          {{ field }}
                          {% if field.help_text %}<span class="help-inline">{{ field.help_text }}</span>{% endif %}
                          {% if field.errors %}<label class="error">{{ field.errors|join:", " }}</label>{% endif %}
                      </div>
                  </div>
              {% endfor %}
              <div class="form-actions">
                  <input class="btn btn-primary btn-large" type="submit" value="{% trans "Change email" %}">
              </div>
          </fieldset>
        </form>
      </div>
    </div>
</div>
{% endblock %}
