{% extends 'userena/base_userena.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

<div class="row-fluid">
  <div class="span12">
    <div class="forgot-password clearfix">
      <p class="statement">{% trans "Forgot Password? Please enter your email and we’ll send it you." %}</p>
      <form action="" method="post">
        <fieldset>
          {% csrf_token %}
          <div class="input-append">
            <input type="email" class="span6" placeholder="{{ form.email.label }}" name="email" id="{{ form.email.auto_id }}">
            <input class="btn btn-primary" type="submit" value="{% trans "Send password" %}" />
            {% if form.email.errors %}<label class="error">{{ form.email.errors|join:", " }}</label>{% endif %}
          </div>
        </fieldset>

      </form>
    </div>
  </div>
</div>

{% endblock %}
